#sign-in{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	background-color:white;
}

#sign-up{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 280px;
	background-color: white;
}

#sign-up input, select{
	display: block;
	box-sizing: border-box;

	margin: 0 auto;
	width: 80%;
}

#sign-in input{
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	width: 80%;
}

#right{
	display: inline-block;
	box-sizing: border-box;
	width: 250px;
	float: right;
	height: 400px;
	margin-left: 10px;
}

button{
	color: #ff8300;
	background-color: #ffffff;
	border: none;
}

button:hover{
	color: white;
	background-color: #C56500;
}

#right h3{
	text-align: center;
	width: auto;
}

body{
	display: block;
	box-sizing: border-box;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	font-family: Helvetica;
	margin-top: 100px;
	background-color: #FF8205;
}

#left{
	display: inline-block;
	box-sizing: border-box;
	margin: 0 0;
	width: 340px;
}

#left img {
	display: block;
	box-sizing: border-box;
	height: 400px;
	width: auto;
}


.topbtn{
	display: inline-block;
	box-sizing: border-box;
	width: 30%;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

#wall, #wallb{
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	width: 80%;
	min-width: 480px;
	font-family: Helvetica;
}

#wall div, #wallb div{
	display: block;
	margin: 0 auto;
	width: 100%;
	min-width: 480px;
	padding: 5px;
	border: dotted 1px black;
	background-color: white;
}

#wall div h4, #wallb div h4{
	display: block;
	box-sizing: border-box;
	color: gray;
	border-bottom: dashed 1px gray;
	margin: 0;
	width: 100%;
	min-width: 480px;
	padding: 0;
}

#wall div p, #wallb div p{
	display: block;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	word-wrap: break-word;
	min-width: 480px;
	max-width: 100%;
}

#home, #browse, #account{
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
}

#userinfo, #userwallinfo{
	display: block;
	margin: 0 auto;
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#userinfo div, #userwallinfo div{
	display: inline-block;
	width: 49%;
}

#postmess{
	display: block;
	margin: 0 auto;
	width: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#postmess input{
	display: block;
	margin: 0 auto;
}

.reload{
	display: block;
	margin: 0 auto;
}

#finduser{
	display: block;
	text-align: center;
	margin: 0 auto;
}

#cgpass{
	display: block;
	margin: 0 auto;
	height: 3em;
	margin-top: 20px;
}

#cgpass input{
	display: inline-block;
	width: 30%;
}

#account button{
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 20%;
	min-width: 80px;
	height: 2em;
	line-height: 2em;
	font-size: 0.8em;

}