<!DOCTYPE>
<html>
	<head>
		<link href="{{ url_for('static', filename='stylesheets/client.css') }}" type="text/css" rel="stylesheet">
		<script src="{{ url_for('static', filename='stylesheets/client.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='js/xmlhhtprequest.js') }}" type="text/javascript"></script>
	</head>
	<body>


		{% if token %}
		<div id="profileview">
		
		<button class="topbtn" onclick="tabdisplay(1);">Home</button>
		<button class="topbtn" onclick="tabdisplay(2);">Browse</button>
		<button class="topbtn" onclick="tabdisplay(3);">Account</button>
		<div id="tabcontent"></div>
			<div id="home">
			
				<div id="userinfo"></div>
				<form onsubmit="postmess();" id="postmess">
					<textarea id="newmess" required="true" rows="4" cols="50"placeholder="message"></textarea>
					<input type="submit">
				</form>
				<div id='wall'></div>
				<button class="reload" onclick="reloadwall();">Reload</button>

			</div>
		</div>
		{% else %}
		<div id="nonlogview"></div>
		{% endif %}

		<script type="text/view" id="notlogview">

		<div id="left">
			<img src="{{ url_for('static', filename='stylesheets/wimage.png') }}"/>
		</div>
		<div id="right">
		<form onsubmit="signin(); return false;" name="sign-in" id="sign-in">
		<h3>Sign in</h3>
			<input type="email" id="siemail" placeholder="Email" autofocus="true">
			<input type="password" id="sipassword" placeholder="Password">
			<input type="submit" value="Sign-in">

		</form>
		<form onsubmit="signup(); return false;" name="sign-up" id="sign-up">
			<h3>Sign up here</h3>
			<input type="email" id="email" name="username" required="true" placeholder="Email" required="true">
			<input type="password" name="password" id="password" placeholder="Enter password" required="true">
			<input type="password" name="repeat_password" id="repeat_password" placeholder="Repeat password" required="true">
			<input type="text" name="firstname" id="firstname" placeholder="Firstname" required="true">
			<input type="text" name="familyname" id="familyname" placeholder="Family name" required="true">
			<select id="gender" required="true">
				<option value="male">male</option>
				<option value="female">female</option>
			</select>
			<input type="text" name="city" id="city" placeholder="City" required="true">
			<input type="text" name="country" id="country" placeholder="Country" required="true">
			<input type="submit" value="Sign-up">
		</form>
		</div>
		<div id=logfailed>Wrong password/username</div>
		</script>
		<script type="text/view" id="logview">
		
		<h2 style="text-align: center;">Tweeder</h2>

		<button class="topbtn" onclick="tabdisplay(1);">Home</button>
		<button class="topbtn" onclick="tabdisplay(2);">Browse</button>
		<button class="topbtn" onclick="tabdisplay(3);">Account</button>
		<div id="tabcontent"></div>
			<div id="home">
			
				<div id="userinfo"></div>
				<form onsubmit="postmess(); return false;" id="postmess">
					<textarea id="newmess" required="true" rows="4" cols="50"placeholder="Write on the wall"></textarea>
					<input type="submit" value="Tweed !">
				</form>
				<button class="reload" onclick="reloadwall();">Update the thread</button>
				<div id='wall'></div>

			</div>

			<div id="browse">
				<h5 style="text-align: center;">Enter the email address of the user to find</h5>
				<form id="finduser" onsubmit="finduser(); return false;">
					<input id="usermail" type="email" required="true" placeholder="email">
					<input type="button" value="Find" onclick="finduser();">
				</form>
				<div id="showwall">

				<form onsubmit="return false;" id="postmess">
					<textarea id="newmessonwall" required="true" rows="4" cols="50" placeholder="message"></textarea>
					<input type="button" value="Tweed !" onclick="postmess(1);">
				</form>
				
				<div id='userwallinfo'></div>
				<button class="reload" onclick="reloadwall(1); return false;">Update the thread</button>
				<div id='wallb'></div>
				
				</div>

			</div>

			<div id="account">

				<h5 style="text-align: center;">You can change your password here</h5>
				<form id="cgpass" onsubmit="changepass(); return false;">
					<input type="password" id="oldpwd" required="true" placeholder="old password">
					<input type="password" id="newpwd" required="true" placeholder="new password">
					<input type="submit" value="Change">
				</form>
				<button onclick="logout();">LogOut</button>

			</div>
		</script>


	</body>
</html>
